target
/local

# Kubernetes and Helm
requirements.lock
**/charts/*.tgz

# Netbeans and IntelliJ files
!.gitignore
/nbproject
/*.ipr
/*.iws
*.iml
.idea

#IDE metadata
**.idea/**
.idea/
*.iml
*/charts/*
# Repository wide ignore mac DS_Store files
.DS_Store

# Eclipse
.project
.classpath
.settings